# Build artifacts
build/
Software/Apps/RawTime-CMake/build/
Output/*
!Output/.gitignore
!Output/app-manifest.json
*.zip
*.uapp
*.elf
*.bin
*.map
*.o
*.obj

# Editor & OS files
.vscode/
.idea/
*.swp
*.bak
*~
.DS_Store
